*{
	margin:0;
	padding:0;
}

#nav-bar
{
	background: radial-gradient(rgb(112, 114, 109), rgb(54, 52, 51));
	position: inherit;
	top:0;
	z-index:10;
	float: inherit;
}
.navbar
{
	padding: 0 !important;
}

.navbar-nav li
{
	padding: 0 5px;
}
.navbar-nav li a
{
color: rgb(212, 196, 196) !important;
font-weight: bolder;
float:right;
text-align:left;
}


.navbar-brand{
    font-size: 1.5rem;
    color: yellow !important;
    
}

.nav-link{
    float: right;
    color: #4c4d4e!important;
    
}

.nav-link:hover{
    background: linear-gradient(rgb(20, 20, 20), rgb(57, 57, 59));
}
/* navbar css ends here  */
#main
{
    margin-top: 0%;
	text-align: center;
    background-image: url(image1.png);
}

.my-info{
    padding: 2rem 5rem;
}

.btn-info{
    background: radial-gradient(rgb(78, 75, 78), rgb(126, 122, 124));
    padding: 1rem 1.2rem;
    /* color: white; */
    margin-left: 5px;
    padding: 0.75rem;
    border-radius: 5px;
    transition: all 0.3s;
}
.btn.btn-info {
    color: #ebe7e3;
    background-color: transparent;
    border-color: #ccc;
}

.btn-info:hover{
    background: linear-gradient(rgb(238, 238, 223), rgb(147, 150, 147)) ;
    color: black !important;
}